.storm-report-container {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

h1 {
  color: #333;
}

.report-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.report-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.report-card h3 {
  margin-top: 0;
  color: #333;
}

.report-card p {
  margin: 5px 0;
}
